@charset "utf-8";
/* CSS Document */
 
body {
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	background:#fafafa;
}
h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}
a {
	color: #5bc2e7;
}
a:hover, a:focus {
	color: #5bc2e7;
	background: #D9EEF5;
}
button, .button {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}
.pad-no {
	padding: 0;
}
.mar-no {
	margin: 0 !important;
}
.fw-nrml {
	font-weight: 400 !important;
}
.mb {
	margin-bottom: 1.6rem;
}
.mt {
	margin-top: 1.6rem;
}
.row {
	max-width: 976px;
	border-right: 1px solid #b4c5cc;
	border-left: 1px solid #b4c5cc;
	background:#fff;
}
.site-head {
	margin: 1.975rem 0 1.6rem;
	float: left;
	width: 100%;
	padding: 0 1.5625rem;
}
.site-head .large-6.columns img{width:95px;}
.prof-btn {
	background-color: #5bc2e7;
	text-transform: uppercase;
	font-size: 1.063em;
	font-weight: 600;
	padding: 0.7rem 2.5rem;
}
.prof-btn:hover {
	background-color: #4695b3;
}
.toggle-head {
	padding: 1.3rem 1.5625rem;
	float: left;
	width: 100%;
	border-top: 1px solid #b4c5cc;
	border-bottom: 1px solid #b4c5cc;
}
.toggle-title {
	display: inline-block;
	font-size: 0.813em;
	color: #acacac;
	margin: 12px 10px 0 0;
}
.toggle-sec .tabs {
	float: left;
	width: auto;
}
.toggle-sec .tabs dd > a, .toggle-sec .tabs .tab-title > a {
	font-weight: 600;
	font-size: 0.875em;
	border: 2px solid #b4c5cc;
	text-transform: uppercase;
}
.tabs dd > a, .tabs .tab-title > a {
	background-color: #ffffff;
	color: #b4c5cc;
	padding: 0.7rem 1.5rem;
}
.toggle-sec .tabs dd.active a, .toggle-sec .tabs .tab-title.active a {
	background-color: #dbeff5;
	color: #022954;
}
.toggle-sec .tabs dd > a:hover, .tabs .tab-title > a:hover {
	background-color: #dbeff5;
	color: #022954;
}
.toggle-sec .button-group.radius > *:first-child, .toggle-sec .button-group.radius > *:first-child > a, .toggle-sec .button-group.radius > *:first-child > button, .toggle-sec .button-group.radius > *:first-child > .button {
	border-bottom-left-radius: 7px;
	border-top-left-radius: 7px;
}
.toggle-sec .button-group.radius > *:last-child, .toggle-sec .button-group.radius > *:last-child > a, .toggle-sec .button-group.radius > *:last-child > button, .toggle-sec .button-group.radius > *:last-child > .button {
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
}
.toggle-sec .tabs-content {
	float: left;
	width: 100%;
	padding: 0;
	border-bottom: 1px solid #b4c5cc;
	margin-bottom: 0;
}
.toggle-sec .tabs-content > .content {
	padding: 0;
}
.category-panel{display: table;width:100%;}
.infographic {
	margin: 1.5rem 0;
}
.search-box {
	border: none;
}
.search-sub {
	background: #fff url(../img/search-icon.png) no-repeat 10px 7px;
	border-radius: 0 7px 7px 0 !important;
	border: 2px solid #b4c5cc;
	height: 2.8rem;
	border-left: none;
	width: 3rem;
}
form .row .toggle-sec .postfix-radius.row.collapse input, form .row .toggle-sec .postfix-radius.row.collapse textarea, form .row .toggle-sec .postfix-radius.row.collapse select, form .row .toggle-sec .postfix-radius.row.collapse button {
	border-radius: 7px 0 0 7px;
}
.search-box input[type="text"] {
	font-size: 1.063em;
	box-shadow: none;
	border: 2px solid #b4c5cc;
	height: 2.8rem;
}
.search-box a.postfix {
	font-size: 1.375em;
	box-shadow: none;
	border: 2px solid #b4c5cc;
	height: 3rem;
	color: #5bc2e7;
	font-weight: 300;
	border-left: none;
}
form .row .toggle-sec .postfix-radius.row.collapse .postfix {
	border-radius: 0 7px 7px 0;
}
.toggle-sec .tabs-content .cat-col {
	padding: 0;
	border-right: 1px solid #b4c5cc;
	min-height: 18rem;
	 display: table-cell;
    float: none;
}
.dsbl, .dsbl .cat-head {
	color: #d7d7d7;
}
.toggle-sec .tabs-content .cat-col:last-child {
	border-right: 0;
}
.cat-cont-new {
    padding: 0.8rem 1.4625rem;
}
.cat-head {
	font-size: 1.063em;
	color: #022954;
	font-weight: 600;
	border-bottom: 1px solid #b4c5cc;
	margin: 0;
	padding: 0.8rem 1.5625rem;
}
.cat-cont {
	padding: 0.8rem 1.5625rem;
}
.cat-cont input[type="checkbox"] {
	margin: 10px 10px 0 0;
}
.cat-cont label {
	font-size: 0.813em;
	margin-bottom: 0.5rem;
	color: #000;
	font-weight: 400;
}
.cat-cont input[type=radio], .cat-cont input[type=checkbox] {
	display: none;
}
.banner {
	float: left;
	width: 100%;
}
/* Custom Checkbox and Radio Inputs */
input[type=radio], input[type=checkbox] {
/*display: none;*/
}
form.custom .hidden-field {
	margin-left: -99999px;
	position: absolute;
	visibility: hidden;
}
form.custom .custom {
	display: inline-block;
	width: 16px;
	height: 16px;
	position: relative;
	top: -1px;
	/* fix centering issue */
	vertical-align: middle;
	border: solid 1px #cccccc;
	background: white;
	margin: 0 8px 0 0;
}
form.custom .custom.checkbox {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 0;
}
form.custom .custom.radio {
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
	padding: 3px;
}
form.custom .custom.checkbox:before {
	content: "";
	display: block;
	font-size: 1em;
	color: white;
	width: 16px;
	height: 16px;
	border-radius: 3px;
}
form.custom .custom.radio:before {
	content: "";
	display: block;
	font-size: 1em;
	color: white;
	width: 16px;
	height: 16px;
	border-radius: 3px;
}
form.custom .custom.radio.checked:before {
	background: #3b99fd;
	border-radius: 50%;
	color: #fff;
	content: "\f111";
	font-family: "FontAwesome";
	font-size: 0.313em;
	font-weight: 400 !important;
	left: -2px;
	line-height: 3;
	margin-left: 0;
	margin-top: 0;
	position: absolute;
	text-align: center;
	top: -1px;
}
form.custom .custom.checkbox.checked:before {
	content: "\f00c";
	position: absolute;
	/*top: -50%;
	left: 50%;*/
	margin-top: 0;
	margin-left: 0;
	font-family: 'FontAwesome';
	font-size: 0.750em;
	color: #fff;
	background: #3b99fd;
	text-align: center;
	line-height: 1.4;
	top: -2px;
	left: -2px;
	font-weight: 400 !important;
}
form.custom [class*="block-grid-"] > li {
	padding: 0 0.625rem 0rem;
}
form.custom [class*="block-grid-"] {
	margin: 0 -0.625rem 1rem;
}
form.custom hr {
	margin: 0 0 0.5rem;
}
input[type=checkbox]:not(old), input[type=radio ]:not(old) {
	width : 15px;
	margin : 0;
	padding : 0;
	opacity : 0;
}
/*--------------*/
input[type=checkbox]:not(old) + label, input[type=radio ]:not(old) + label {
	background: rgba(0, 0, 0, 0) url("../img/checks.png") no-repeat scroll 0 0;
	display: inline-block;
	font-size: 0.875rem;
	font-weight: 400 !important;
	line-height: 1.25rem;
	margin-left: -1.3rem;
	padding-left: 1.7rem;
}
/*.has-error input[type=checkbox]:not(old) + label{
	background: rgba(0, 0, 0, 0) url("../img/checks-error.png") no-repeat scroll 0 0;
}*/
input[type=radio ]:not(old) + label {
	background : url('../img/checks.png') no-repeat 0 -2.5rem;
}
input[type=checkbox]:not(old):checked + label {
	background-position : 0 -1.1875rem;
	font-weight: 700 !important;
}
input[type=radio]:not(old):checked + label {
	background-position : 0 -3.75rem;
	font-weight: 700 !important;
}
/*--------------*/
.add-field-btn {
	background: url("../img/add-field.jpg") no-repeat;
	height: 28px;
	margin-right: 10px;
	padding: 0;
	width: 28px;
	vertical-align: top;
}
.remove-field-btn {
	/*background: url("../img/remove-field.jpg") no-repeat;
	height: 28px;
	margin-right: 10px;
	padding: 0;
	vertical-align: top;
	width: 28px;*/
	background: rgba(0, 0, 0, 0) url("../img/remove-field.jpg") no-repeat scroll 0 0;
	border: medium none;
	bottom: 30px;
	color: #b4c5cc;
	cursor: pointer;
	font-size: 0.875rem;
	font-weight: 700;
	height: 28px;
	line-height: 2;
	padding: 0 0 0 35px;
	position: absolute;
	right: 0;
	width: auto;
}
.has-btn {
	position: relative;
	width: 100%;
	float: left;
}
.has-btn input {
	
}
.has-btn span {
	position: absolute;
	right: 0;
	top: 30px;
}
.upload {
	width: 100%;
	border: 2px solid #b4c5cc;
	border-radius: 3px;
	height: 2.5rem;
	margin-bottom: 1.6rem;
	overflow: hidden;
	background: #fff;
	position: relative;
	float: left;
	display: block;
}
.upload.has-error{
	background: #fdeeee;
	border: 2px solid #ff0000 !important;
}
.has-rt-btn {
	float: left;
	position: relative;
	width: 100%;
	margin-bottom: 10px;
}
.has-rt-btn .upload {
}
.has-rt-btn .fl-btn {
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 2;
	position: absolute;
	right: 25px;
	top: 5px;
}
.has-rt-btn .remove-field-btn {
	right: -6.5625rem;
	top: 6px;
}
span.file-status {
	display: none;
	font-weight: normal;
	left: 10px;
	position: absolute;
}
a#delete:hover {
	background: rgba(0, 0, 0, 0) url("../img/remove-field.jpg") no-repeat scroll 0 0;
	color: #b4c5cc;
}
.upload input {
	display: block !important;
	width: 157px !important;
	height: 57px !important;
	opacity: 0 !important;
	overflow: hidden !important;
}
.profile-sec {
	padding: 1.5rem 5rem;
}
.prof-col {
	padding: 0;
	text-align: center;
}
.profile-head {
	font-size: 2.000em;
	font-weight: 300;
	margin: 0 0 1rem 1rem;
	padding: 0;
}
.profile-sec {
	border-bottom: 1px solid #b4c5cc;
	float: left;
	width: 100%;
}
.profile-sec .panel {
	border: 2px solid #b4c5cc;
	background: #fff;
}
.profile-sec .panel .th {
	border:1px solid #b4c5cc;
	box-shadow: none;
	border-radius: 0;
}
.prof-cont {
	border: none;
	margin: 1rem 0 0 0 !important;
	text-align: left;
}
.prof-cont .columns {
	padding: 0;
}
.comp-thumb {
	margin-right: 10px;
}
.comp-thumb .th {
	border: 2px solid #b4c5cc;
	box-shadow: none;
}
.comp-name {
	color: #5bc2e7;
	display: block;
	font-size: 1.188em;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 10px;
}
.comp-short, .promo-cont, .comp-short p {
	color: #000 !important;
	font-size: 0.875em;
	line-height: 1.3;
	min-height: 3.5rem;
}
.comp-short.prof-cont-inner p{font-size: 1em;}
.prof-cont-inner .sub-head{margin-bottom: 0.3rem;}
.promo-head {
	color: #5bc2e7;
	display: block;
	font-size: 1.125em;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 10px;
}
.more-btn {
	color: #000;
	font-size: 0.750em;
	border: 2px solid #b4c5cc;
	background: none;
	margin-top: 10px;
}
.more-btn:hover {
	color: inherit;
}
.more-btn-inner {
	padding: 0.5rem 4rem !important;
}
.search-status {
	float: left;
	width: 100%;
	margin-bottom: 2rem;
	font-size: 0.875em;
	border-bottom: 1px solid #b4c5cc;
	padding-bottom: 1rem;
	font-weight: 700;
}
.Search-terms {
	font-weight: 400;
}
.profile-sec .panel-search {
	border: none !important;
}
.comp-detail-sec {
	width: 100%;
	float: left;
	margin: 1.5rem 0 0;
}
.comp-name-detail {
	font-weight: 300;
	font-size: 2.250em;
	line-height: 1;
}
.prof-cont-inner {
	border-top: 1px solid #b4c5cc;
	padding-top: 1.5rem;
	margin-bottom: 1.5rem;
}
.site-footer {
	float: left;
	margin: 2.5rem 0 1.5rem;
	padding: 0 1.5625rem;
	width: 100%;
}
.site-footer .columns .left img {
    width: 204px;
}
.sub-head {
	font-weight: 700;
	font-size: 0.875em;
	text-transform: uppercase;
	margin-bottom: 1.5rem;
	float: left;
	width: 100%;
}
.comp-btn li {
	padding: 0 0.625rem;
}
.big-btn {
	text-align: center;
}
.big-btn:hover{
	background-color: transparent;
}
.big-btn img {
	display: block;
	margin: 0 auto 0.5rem auto;
}
.cont-comp{
	background: rgba(0, 0, 0, 0) url("../img/profile-icon.jpg") no-repeat scroll center 13px;
    height: 127px;
    padding-top: 90px;
    vertical-align: bottom;
	box-sizing:border-box;
}
.side-bar-subhead {
	margin-bottom: 0.5rem;
}
.sidebar-social {
	float: left;
	padding: 0;
}
.sidebar-social a {
	border: 2px solid #b4c5cc;
	border-radius: 2px;
	display: inline-block;
	float: left;
	font-size: 1.250em;
	height: 46px;
	margin-right: 5px;
	padding-top: 5px;
	text-align: center;
	width: 46px;
	color: #99d6ea;
}
.sidebar-social i {
	float: none !important;
}
.comp-map {
	border: 2px solid #b4c5cc;
	margin: 1.5rem 0;
	float: left;
	width: 100%;
}
.links-list {
	float: left;
	width: 100%;
	padding: 0;
	font-size: 0.875em;
	list-style: none;
	margin: 0 0 1rem 0;
}
.links-list a {
	display: block;
	float: left;
	width: 100%;
}
.links-list a:before {
	content: ".";
	display: inline-block;
	float: left;
	font-size: 1.875em;
	margin: -17px 10px 0 0;
}
.comp-pic-gal {
	float: left;
	min-height: 200px;
	width: 100%;
}
.page-head {
	border-bottom: 1px solid #b4c5cc;
	margin-bottom: 1.5rem;
	float: left;
	width: 100%;
	padding-bottom: 0.5rem;
}
h1.page-title {
	font-size: 3.000em;
	font-weight: 300;
}
.thanku_title .page-head, .error404 .page-head{border-top: 1px solid #b4c5cc;padding-bottom: 1.2rem;}
.sub-txt {
	font-size: 1.375em;
	font-weight: 700;
}
.basic-cont {
	border-bottom: 1px solid #b4c5cc;
}
.basic-cont p{font-size: 0.875em;}
.form-error ul {
	list-style: none;
	margin: 0 0 1.5rem 0;
}
.alert-danger {
	font-weight: 700;
	color: #ff0000;
	font-size: 1.125em;
}
.error, input.error {
	border: 2px solid #ff0000 !important;
	background: #fdeeee;
}
label {
	font-weight: 700;
	color: #000;
	line-height: 2;
}
.main-label {
	font-weight: 700;
	color: #000;
	line-height: 2;
	font-size: 0.875rem;
	margin-bottom: 0;
}
.sub-label {
	color: #b4c5cc;
	font-weight:700 !important;
	line-height: 2;
	font-size: 0.875rem;
	margin-bottom: 0;
}
.main-sub-label {
	font-size: 12px;
	font-weight: 700;
	line-height: 2;
	margin-bottom: 0;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea, select {
	height: 2.5rem;
	border: 2px solid #b4c5cc;
	border-radius: 3px;
	margin-bottom: 1.6rem;
}
textarea {
	height: 8rem;
}
.sub-btn {
	background: #5bc2e7;
	border: medium none;
	border-radius: 3px !important;
	color: #fff;
	display: block;
	font-size: 1.125em;
	padding: 0.5rem 0;
	text-align: center;
	text-transform: uppercase;
	width: 15rem;
}
.sub-btn:hover {
	background-color: #4695b3;
	color:#fff;
}
.small-txt {
	font-size: 0.750em !important;
	font-weight: 400;
}
.help-txt {
	font-size: 0.750em;
	font-style: italic;
	display: block;
	float: left;
	width: 100%;
	color: #cccccc;
	font-weight: 400;
}
.addn-txt {
	margin: 0.5rem 0 1.6rem 0 !important;
	display: block;
	float: left;
	width: 100%;
}
.form-btm-txt {
	font-size: 0.625em;
	margin: 3rem 0;
}
iframe {
	border: none;
}
#level2, #level2, level3 {
	float: left;
	width: 100%;
}
#profile_tags ul {
	margin: 0;
}
#profile_tags li {
	float: left;
	list-style: outside none none;
	width: 100%;
}
.footer-links {
	margin: 10px 0;
	float: left;
}
.footer-links li {
	margin-left: 0;
}
.footer-links a {
	color: #000;
	display: inline-block;
	float: left;
	font-size: 0.875em;
}
.footer-links a:hover {
	background: none;
}
.footer-links a:after {
	content: ".";
	display: inline-block;
	float: right;
	font-size: 1.875em;
	margin: -17px 20px 0;
}
.footer-links li:last-child a:after {
	content: " ";
	margin: 0;
}
.footer-social {
	float: left;
	margin-left: 15px;
	padding: 0;
}
.footer-social a {
	border: 2px solid #b4c5cc;
	border-radius: 2px;
	display: inline-block;
	float: left;
	font-size: 1.250em;
	height: 46px;
	margin: 0 4px;
	padding-top: 5px;
	text-align: center;
	width: 46px;
	color: #99d6ea;
}
.footer-copy {
	color: #b4c5cc;
	font-size: 0.625em;
	text-transform: uppercase;
	margin-top: 0.8rem;
}
.footer-copy a {
	color: inherit;
}
/*gform*/
.basic-cont .gform_wrapper .top_label input.medium, .basic-cont .gform_wrapper .top_label select.medium{width: 50%;}
.basic-cont .gform_wrapper .top_label .gfield_label{margin:0;}
body .basic-cont .gform_wrapper label.gfield_label + div.ginput_container{ margin-top: 3px;}
.basic-cont .gform_wrapper .gfield_checkbox li label, .basic-cont .gform_wrapper .gfield_radio li label{margin:0 0 0 -3px;padding: 2px 0 0 24px;font-size: 0.75em;background: rgba(0, 0, 0, 0) url("../img/check_bx.png") no-repeat scroll 0 0;}
.basic-cont .gform_wrapper .gfield_error .gfield_checkbox li label:before{border: 2px solid #ff0000;  border-radius: 4px; content: ""; height: 16px;  left: 0;    position: absolute;    top: 3px;width: 18px;}
.basic-cont .gform_wrapper .gfield_error ul.gfield_checkbox li input[type="checkbox"]:checked + label:before{border: medium none;}
.basic-cont .gform_wrapper ul.gfield_checkbox li input[type="checkbox"]:checked + label, .basic-cont .gform_wrapper ul.gfield_radio li input[type="radio"]:checked + label{background-position: 0 -45px;}
.basic-cont #field_3_3 .gfield_label, .basic-cont #field_1_3 .gfield_label{display:none;}
.basic-cont #field_3_3  .ginput_container, .basic-cont #field_1_3  .ginput_container{margin-bottom: 30px;    margin-top: 8px;}
.basic-cont .gform_wrapper .top_label .gfield #input_3_2, .basic-cont .gform_wrapper .top_label .gfield #input_1_2{margin-bottom: 0;}
.basic-cont .gform_wrapper .top_label .gfield_description{font-size: 11px;color: #cccccc; font-style: italic;font-weight: 400; margin: 0;}
.basic-cont .gform_wrapper textarea.medium {    height: 8rem;    width:50%;}
.basic-cont .gform_wrapper .gform_footer{padding:0;}
.basic-cont .gform_wrapper  .gform_footer .gform_button{background: #5bc2e7 none repeat scroll 0 0;
    border: medium none;    border-radius: 3px !important;    color: #fff;    display: block;    font-size: 1.125em;    padding: 0.5rem 0;    text-align: center;    text-transform: uppercase;
    width: 15rem;}
.basic-cont .gform_wrapper  .gform_footer .gform_button:hover{background-color: #4695b3;}
.basic-cont .gform_wrapper label a:hover{background:none;color:#000;}
.basic-cont .gform_wrapper .gfield_required{display:none;}

.basic-cont .gform_wrapper li.gfield.gfield_error, .basic-cont .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning{background:none;border: medium none;}
.basic-cont .gform_wrapper li.gfield.gfield_error.gfield_contains_required{margin:0 !important;}
.basic-cont .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description{display:none;}
.basic-cont  .gform_wrapper .gfield_error .gfield_label{color:#000;}
.gform_wrapper li.gfield_error input[type="email"], .gform_wrapper li.gfield_error input[type="number"], .gform_wrapper li.gfield_error input[type="password"], .gform_wrapper li.gfield_error input[type="tel"], .gform_wrapper li.gfield_error input[type="text"], .gform_wrapper li.gfield_error input[type="url"], .gform_wrapper li.gfield_error textarea{
background: #fdeeee ; border: 2px solid #ff0000 !important;}
.basic-cont .gform_wrapper .top_label .gfield_error input.large, .basic-cont .gform_wrapper .top_label .gfield_error select.large, .basic-cont  .gform_wrapper .top_label .gfield_error textarea.textarea{width: 50%;}
.basic-cont .gform_wrapper div.validation_error{color: #ff0000;margin-bottom: 0; width:100%;border:none;font-size: 1rem;font-weight: 700;}
.basic-cont .gform_wrapper .top_label .gfield_error{ width: 100%;}
.basic-cont .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, .basic-cont .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label{ margin: 0;    max-width: 100%;    width: 100%;}

/*changes*/

.button.radius.prof-btn.right {
    margin-bottom: 0;
    margin-top: 1.2rem;
}
.toggle-sec .toggle-head .tabs .tab-title a{padding: 0.6rem 1.5rem;}
form .row .search-box .small-10.columns input[type="text"]{margin:0;}
.profile-sec .large-3{width: 27%;}
.profile-sec .large-3 .button.tiny{font-size: 0.7875rem;}

.large-7.columns.submit_pc_area, .large-12.columns.submit_text_area{padding:0;}
.row.isotope {
    border-bottom: 1px solid #b4c5cc;
}
.isotope .large-12.isotope-item{padding: 2.8rem 5rem 0;}
.isotope .large-12.isotope-item.loadSection img{padding:0!important;margin-bottom:	20px;}
.isotope .prof-col{margin:0 3rem 0 5rem;width:35%;}
.isotope  .row.prof-cont {width:100%;float:left;}
.isotope .prof-col .panel{background: #fff none repeat scroll 0 0;    border: 2px solid #b4c5cc;float: left;margin-bottom:1.5rem;}
.isotope .prof-col .panel .feat-img{border: 2px solid #b4c5cc;box-shadow:none;}


@media screen and (max-width: 970px) and (min-width: 768px) {
.site-footer  img {
    max-width:70% !important;
}
.site-footer .left{ float: none !important;}
.footer-links a::after{margin: -17px 6px 0;}
.footer-links{margin: 6px 0;}
.footer-social a{width: 33px;height: 36px;padding-top:0;}
.has-btn span{position:static;}
}

@media only screen and (max-width: 767px) {
.has-btn span{position:static;}
.profile-sec .large-3{width:100%;}
ul {
	margin-left: 0;
}
.columns {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.profile-sec, .toggle-sec {
	padding: 1rem 2rem;
	border-top: 1px solid #b4c5cc;
}
.promo-sec {
	padding: 0;
	border: none;
}
.promo-sec .promo-head {
	padding: 1rem 2rem;
	border-bottom: 1px solid #b4c5cc;
}
.promo-head {
	margin-bottom: 0;
}
.more-btn {
	display: none;
}
.more-btn-inner, .big-btn {
	display: block;
}
.profile-head {
	margin: 0 0 1rem;
}
.profile-sec .panel {
	border: none;
	padding: 0;
}
.feat-img, .feat-img img {
	width: 100%;
}
.accordion .accordion-navigation > a, .promo-head {
	background: none;
	font-size: 2.000em;
	font-weight: 300;
	padding: 0;
	color: #000;
}
.accordion .accordion-navigation > .content {
	padding: 0;
}
.accordion .accordion-navigation i.up {
	float: right;
	color: #99d6ea;
	background: url("../img/caret-rt.png") no-repeat;
	width: 1.25rem;
	height: 2.0625rem;
	margin-top: 1rem;
}
.accordion .accordion-navigation i.dwn {
	float: right;
	color: #99d6ea;
	background: url("../img/caret-dn.png") no-repeat;
	height: 1.25rem;
	width: 2.0625rem;
	margin-top: 1rem;
}
.accordion .accordion-navigation > a:hover, .accordion dd > a:hover, .accordion .accordion-navigation.active > a, .accordion dd.active > a {
	background: none;
}
.cat-head, .cat-cont {
	padding: 0.8rem 0;
}
.share-btn {
	float: right;
}
.has-btn, .has-rt-btn {
	width: 100%;
}
.req-link {
	border: none;
	text-align: left;
	color: #000;
	font-size: 2.000em;
	font-weight: 300;
	padding: 0 !important;
}
.footer-links, .footer-social {
	margin-left: 0.5rem;
	width: 100%;
}
.footer-links li {
	width: 100%;
}
.footer-links a {
	font-size: 2.000em;
}
.footer-links a:after {
	content: " ";
	margin: 0;
}
.footer-social a:first-child {
	margin-left: 0;
}
.basic-cont .gform_wrapper .top_label input.medium, .basic-cont .gform_wrapper .top_label select.medium, .basic-cont .gform_wrapper textarea.medium{width: 100%;}
.basic-cont .gform_wrapper .top_label .gfield_error input.large, .basic-cont .gform_wrapper .top_label .gfield_error select.large, .basic-cont  .gform_wrapper .top_label .gfield_error textarea.textarea{width:100%;}
.basic-cont .gform_wrapper div.validation_error{width:100%;}
.prof-col .prof-cont .small-3.columns{width: auto;}
.prof-col .prof-cont .small-9.columns {    float: none ;    width: auto;}
.has-btn input{width: 100%;}
.has-rt-btn .upload{width: 100% !important;}

.isotope .prof-col{width:100%;margin:0;}
}
@media only screen and (max-width: 600px) {
.prof-col .prof-cont .small-3.columns{margin-bottom: 3rem;}
}
@media only screen and (max-width: 480px) {
.prof-col .prof-cont .small-3.columns{    width: 20%;margin:0;}
.prof-col .prof-cont .small-9.columns{float:right;width: 80%;}
}
@media only screen and (max-width: 414px) {
h1.page-title{font-size: 2em;}
}
